// COMORBIDITY MODAL CHECKBOX STYLES
.modal-registration-form {
    #editComo {
        .modal-body {
            padding: 1.25rem 1.5rem;
            ul li label.custom-checkbox {
                margin-bottom: 0;
            }
            .list-group-flush {
                &:first-child .list-group-item:last-child {
                    margin: 0;
                }
                .list-group-item {
                    margin: 0.1rem 0;
                }
            }
        }
    }
}
#editComo {
    .warning-asthma {
        border: 2px solid #c50084;
        padding: 1rem;
        border-radius: 4px;
        position: absolute;
        background: #fff;
        width: 302px;
        z-index: 5;
        left: -300px;
        top: -19px;
        box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
        background: #fff;
        border: 2px solid #c50084;
        &:after, &:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(255,255,255,0);
            border-left-color: #fff;
            border-width: 10px;
            margin-top: -10px;
        }
        &:before {
            border-color: rgba(197,0,132,0);
            border-left-color: #c50084;
            border-width: 13px;
            margin-top: -13px;
        }
        button.close {
            top: 2px;
            right: 5px;
            position: absolute;
        }
    }
    button {
        &.btn {
            background-color: rgba(0,0,0,0.12);
            box-shadow: none;
            color: rgba(0,0,0,0.26);
            cursor: not-allowed;
            opacity: 1;
            pointer-events: none;
            &.btn-secondary {
                background-color: #a30054 !important;
                color: #fff !important;
                cursor: pointer;
                opacity: 1;
                pointer-events: all;
                &.ticked {
                    display: none;
                    &.show {
                        display: block;
                    }
                }
            }
        }
    }
    .modal-dialog button.close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .modal-body .disable-checkbox {
        background: #ddd;
        cursor: not-allowed;
        
        &:hover {
            cursor: not-allowed;
        }
    }
}
// COMO SPECIFIC COPY IN DASHED LINE BOX
.poce_drug_msg {
    border: 1px dashed #c50084;
    display: table-cell;
    margin-bottom: 1rem;
    padding: 2rem;

    .co-morbidity-icon-pink polygon {
        fill: #fff;
    }
    .poce_title {
        padding-left: 3rem;
        color: #c50084;
        font-size: 1.125rem;
        margin: 0 0 1rem -3rem;
        display: inline-block;
    }
    h3 {
        padding: 0;
        text-indent: 0;
        float: none !important;
    }
    p {
        text-indent: initial;
    }
    .material-icons {
        vertical-align: top;
        top: -5px;
        position: relative;
        svg {
            top: 0;
            left: -6px;
            position: relative;

            &.co-morbidity-icon-pink {
                height: 30px;
            }
        }
    }
}
// ADDED COMORBIDITIES BUTTON & PANEL
#como-1 {
    height: auto;
    .material-icons {
        font-size: 30px;
    }
    svg.co-morbidity-icon-pink {
        top: 3px;
        position: relative;
    }
    // not sure if .add-como-icon-and-text needs to come out of #como-1
    .add-como-icon-and-text {
        display: inline-block;
        background-color: #c50084;
        color: #fff;
        padding: 1px 5px 6px;
        border-radius: 5px;
        float: left;
    
        .add.unchecked, .added.unchecked, .non-como-content.hide {
            display: none;
        }
        .add.checked, .added.checked {
            display: inline-block;
        }
        .add:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        path, g g g circle {
            fill: #fff;
        }
        &.checked {
            background-color: #fff;
            color: #000;
    
            path {
                fill: #c50084;
            }
            g g g circle {
                fill: #c50084;
            }
            .co-morbidity-icon-pink polygon {
                fill: #fff;
            }
        }
    }
    /* TOGGLE ON/OFF */
    .como-toggle-on-off {
        display: inline-block;
        margin: 0 0 0 1rem;
        float: left;

        &.hide {
            display: none;
        }

        .checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
        .toggle{position:relative;overflow:hidden}
        .toggle input[type=checkbox]{display:none}
        .toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
        .toggle.off .toggle-group{left:-100%}
        .toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
        .toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
        .toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
        .toggle.btn{min-width:59px;min-height:34px;width: 90px!important;}
        .toggle-on.btn{padding-right:37px}
        .toggle-off.btn{padding-left:37px}
        .toggle.btn-lg{min-width:79px;min-height:45px}
        .toggle-on.btn-lg{padding-right:31px}
        .toggle-off.btn-lg{padding-left:31px}
        .toggle-handle.btn-lg{width:40px}
        .toggle.btn-sm{min-width:50px;min-height:30px}
        .toggle-on.btn-sm{padding-right:20px}
        .toggle-off.btn-sm{padding-left:20px}
        .toggle.btn-xs{min-width:35px;min-height:22px}
        .toggle-on.btn-xs{padding-right:12px}
        .toggle-off.btn-xs{padding-left:12px}
        span.toggle-handle.btn.btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
            z-index: 100;
        }
        .btn {
            display: inline-block;
            padding: 6px 0px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        .toggle.ios, .toggle-on.ios, .toggle-off.ios { 
            border-radius: 20px; 
        }
        .toggle.ios .toggle-handle { 
            border-radius: 20px; 
        }
    }
    #comoselected-1 {
        display: inline-block;
        font-weight: bold;
        color: #c50084;
        margin: 0 1rem;
    
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
    
            li {
                display: inline;
    
                a {
                    text-decoration: none;
                    padding: .2em 1em;
                    color: #fff;
                    background-color: #036;
    
                    &:hover {
                        color: #fff;
                        background-color: #369;
                    }
                }
            }
        }
        button.btn {
            margin: 0 0 0 1rem;
        }
        button.show {            
            display: inline-block;
        }
        span {
            display: inline-block;
            position: relative;
            margin: 0.5rem 0 0 0;
        }
        button.hide, button {
            display: none;
        }
        span+span:before {
            content: ', ';
        }

    }
    .card-block b {
        vertical-align: -webkit-baseline-middle;
        vertical-align: sub;
    }
    &.card {
        border-radius: 0;
        padding: 1.125rem 1.5rem;
        p {
            display: inline-block;
            font-weight: bold;
            span {
                color: #c50084;
            }
        }
        button {
            float: right;
            background-color: #fff;
            color: #c50084;
            border: 3px solid #c50084;
            border-radius: 4px;
            &:hover {
                background-color: #c50084;
                color: #fff;
                outline: none;
            }
            &:focus {
                background-color: #c50084;
                color: #fff;
                outline: none;
            }
            &:hover, &:focus {
                background-color: #c50084;
                color: #fff;
                outline: none;
            }
        }
    }
}
// ADD COMORBIDITIES STICKY SCROLLDOWN PAGE PANEL
#como-2 {
    height: auto;
    border-bottom: 3px solid #c50084;
    &.card {
        border-radius: 0;
        padding: 1.125rem 1.5rem;
        p {
            display: inline-block;
            font-weight: bold;
            span {
                color: #c50084;
            }
        }
        button {
            float: right;
            background-color: #fff;
            color: #c50084;
            border: 3px solid #c50084;
            border-radius: 4px;
            &:hover, &:focus {
                background-color: #c50084;
                color: #fff;
                outline: none;
            }
        }
    }
    .material-icons {
        font-size: 50px;
    }
    #comoselected-2 {
        font-weight: bold;
        color: #c50084;
        margin: 0 1rem;
        
        span {
            position: relative;
            top: 9px;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
    
            li {
                display: inline;
    
                a {
                    text-decoration: none;
                    padding: .2em 1em;
                    color: #fff;
                    background-color: #036;
    
                    &:hover {
                        color: #fff;
                        background-color: #369;
                    }
                }
            }
        }
    }
}
// TIPS AND PITFALL BOX
#tip_pitfall, #tmp .poce_contents.treatment-algorithm #tip_pitfall {
    background-color: #e5eef7;
    border: 1px solid #e9e9e9;
    color: #333;
    width: 90%;
    padding: 1rem;
    .card-title {
        font-family: Arial,sans-serif;
        font-size: 1rem;
        font-weight: bold;
        display: contents;
    }
    .card-block {
        padding: 1rem 1em 1rem 2rem !important;
        background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg version='1.1' id='pin' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15 30' style='enable-background:new 0 0 15 30;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:%23333333;} .st1{fill:%23FFFFFF;} %3C/style%3E%3Cg%3E%3Cg%3E%3Cpath class='st0' d='M6.3,17.5v10.8c0,0.5,0.5,0.9,1.2,0.9s1.2-0.4,1.2-0.9V17.5H6.3z'/%3E%3C/g%3E%3Cg%3E%3Cellipse class='st0' cx='7.5' cy='15.9' rx='7.1' ry='4.4'/%3E%3C/g%3E%3Cg id='cylinder'%3E%3Cpolygon class='st0' points='10.8,2.4 7.5,2.4 4.2,2.4 3.3,16.1 7.5,16.1 11.7,16.1 '/%3E%3C/g%3E%3Cg id='cylinder_highlight'%3E%3Cpolygon class='st1' points='10.6,15.6 9.1,16.1 8.7,3.8 10.1,3.8 '/%3E%3C/g%3E%3Cg%3E%3Cellipse class='st0' cx='7.5' cy='3.8' rx='5.4' ry='3.1'/%3E%3C/g%3E%3Cg id='highlight'%3E%3Cpath class='st1' d='M8.2,5.7C8,5.7,7.8,5.5,7.7,5.3c0-0.3,0.2-0.5,0.4-0.5c1.1-0.1,2.1-0.5,2.6-1.1c0.2-0.2,0.5-0.2,0.7,0 c0.2,0.2,0.2,0.5,0,0.7C10.8,5.1,9.6,5.6,8.2,5.7C8.2,5.7,8.2,5.7,8.2,5.7z'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st0' d='M7.5,16.6v-0.5c1.7,0,3.5-0.4,3.5-1.6h0.5C11.5,15.8,10,16.6,7.5,16.6z'/%3E%3C/g%3E%3Cg id='highlight_lower'%3E%3Cpath class='st1' d='M8.2,19.2C8.2,19.2,8.2,19.2,8.2,19.2c-0.3,0-0.5-0.2-0.5-0.5c0-0.3,0.2-0.5,0.5-0.5c0,0,0,0,0,0 c1.4,0,2.7-0.4,3.5-1.1c0.2-0.2,0.5-0.2,0.7,0c0.2,0.2,0.2,0.5,0,0.7C11.4,18.7,9.9,19.2,8.2,19.2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 5px 15px;
        background-size: 15px;
        p+ul {
            padding-left: 1rem !important;
            margin-bottom: 0 !important;
        }
        .card-text {
            padding: 1rem 0 0 0rem;
        }
        svg#pin {
            height: 30px;
            position: relative;
            left: -5px;
            float: left;
        }
    }
    li {
        padding: 2px 5px;
        margin: 0;
    }
}
// LOOK OUT FOR THIS COMO ICON -  WARNING BOX
#lookOutPopUp {
    background-color: #FFCFEF;
    padding: 1rem;
    &.checked {
        width: 100%;
        display: inline-block;
    }
    &.unchecked {
        display: none;
    }
    .co-morbidity-icon-pink polygon {
        fill: #fff;
    }
    p {
        font-weight: bold;
    }
    .got-it {
        margin-bottom: 0.75rem;
        text-align: center;
    }
}
// SWITCHABLE DRUG BOX
#tmp {
    .poce_contents.treatment-algorithm {
        .card-block {
            padding: 0 !important;
        }
        .treatment-box-cplus {
            border: 1px solid #c50084;
            background: none;
            padding: 1rem 2rem;
            margin-bottom: 1rem;
            h4 {
                color: #c50084;
                font-weight: bold;
            }
            p {
                &.como_link {
                    a {
                        color: #c50084;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .drug-accordion {
                margin: 1rem 0;
                .drug-content2 .poce_drug_msg, .drug-content1 .poce_drug_msg {
                    text-indent: 0;
                    padding: 1rem;
                    width: 100%;
                    .material-icons {
                        text-indent: -10px;
                        top: 0;
                        padding: 0 0.5rem 0 0;
                        svg {
                            top: 0;
                            left: 0;
                        }
                    }
                }
                .drug-content2 {
                    .poce_drug_msg {
                        background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 23.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' style='enable-background:new 0 0 30 30;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:%23C50084;} %3C/style%3E%3Cpath class='st0' d='M15.1,6.6L25.7,26H4.6C4.6,26,15.1,6.6,15.1,6.6z M15.1,1.5L0.4,28.5h29.4L15.1,1.5z M13.9,12.6h2.4v7.3h-2.4 V12.6z M15.1,24.5c-0.8,0-1.5-0.7-1.5-1.5s0.7-1.5,1.5-1.5s1.5,0.7,1.5,1.5S16,24.5,15.1,24.5z'/%3E%3C/svg%3E") no-repeat 11px 6px #f8e0f0;        
                        background-size: 35px;
                        padding:1rem 1rem 1rem 3.5rem;
                        h3 {
                            &.cplus_title {
                                font-size: 1.3rem;
                                position: relative;
                                font-weight: normal;
                            }
                        }
                    }
                    .treatment-box {
                        background-color: #fff;
                        padding: 0.9rem 0;
                        margin: 1rem 0;
                        border: none;
                    }
                }
                .drug-content1 {
                    .poce_drug_msg {                        
                        background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' class='co-morbidity-icon-pink' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23C50084' d='M13.403,11.642c1.223-2.384,3.7-4.019,6.564-4.019c2.285,0,4.326,1.039,5.679,2.669l4.119-4.119 c-2.416-2.68-5.905-4.375-9.798-4.375c-4.644,0-8.721,2.404-11.074,6.029C10.865,8.429,12.489,9.826,13.403,11.642z'%3E%3C/path%3E%3Cpath fill='%23C50084' d='M19.967,22.378c-2.864,0-5.341-1.635-6.564-4.019c-0.914,1.815-2.538,3.212-4.511,3.815 c2.353,3.626,6.43,6.029,11.074,6.029c3.893,0,7.381-1.695,9.798-4.375l-4.119-4.119C24.293,21.339,22.251,22.378,19.967,22.378z'%3E%3C/path%3E%3Cg%3E%3Ccircle fill='%23C50084' cx='6.736' cy='15' r='6.5'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3Cpolygon fill='%23FFFFFF' points='11.207,14 7.707,14 7.707,10.5 5.707,10.5 5.707,14 2.207,14 2.207,16 5.707,16 5.707,19.5 7.707,19.5 7.707,16 11.207,16 '%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E") no-repeat 10px 17px #f8e0f0;
                        background-size: 35px;
                        padding:1rem 1rem 1rem 3.5rem;
                    }
                    .treatment-box {
                        background-color: #fff;
                        padding: 0.9rem 0;
                        margin: 1rem 0;
                        border: none;
                        .modal .modal-dialog {
                            max-width: 50rem;

                            svg.co-morbidity-icon-pink {
                                height: 40px;
                            }
                            .modal-content .modal-header {
                                background: #fff;
                                margin-top: 1rem;
                                .modal-title {
                                    color: #c50084;
                                    margin: 0 0 1.5rem 0;
                                    text-align: center;
                                }
                            }
                        }
                        .small-or {
                            color: #333;
                            margin: 0;
                        }
                    }
                }
            }
            .poce_drug_msg {
                .material-icons {
                    display: inline;
                    float: left;
                    text-indent: -30px;
                    svg {
                        &.co-morbidity-icon-pink {
                            height: 40px;
                        }
                    }
                }
                h3 {
                    &.cplus_title {
                        color: #333;
                        display: inline;
                        float: left;
                        width: auto;
                    }
                }
            }
        }
    }
}
// EVIDENCE ACCORDION IN POCE_CONTENTS CLASS
.poce_contents {
    .evidence-accordion {
        width: 90%;
        background-color: #f8f8f8;
        border: 1px solid #e9e9e9;
        padding: 1rem 0 0 0;
        margin: 2rem 0;
        .title {
            padding: 0 0.5rem 1rem;
            margin: 0;
            display: block;
            background-color: transparent;
            span {
                &.title {
                    display: initial;
                    padding: 0;
                    color: #c50084;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
            p {
                display: inline-block;
                padding: 0 0 0 1rem;
                margin: 0;
            }
        }
        .content p {
            padding: 0;
        }
    }
    div[class*='-como-content'] .poce_drug_msg {
        
        background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' class='co-morbidity-icon-pink' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath fill='%23C50084' d='M13.403,11.642c1.223-2.384,3.7-4.019,6.564-4.019c2.285,0,4.326,1.039,5.679,2.669l4.119-4.119 c-2.416-2.68-5.905-4.375-9.798-4.375c-4.644,0-8.721,2.404-11.074,6.029C10.865,8.429,12.489,9.826,13.403,11.642z'%3E%3C/path%3E%3Cpath fill='%23C50084' d='M19.967,22.378c-2.864,0-5.341-1.635-6.564-4.019c-0.914,1.815-2.538,3.212-4.511,3.815 c2.353,3.626,6.43,6.029,11.074,6.029c3.893,0,7.381-1.695,9.798-4.375l-4.119-4.119C24.293,21.339,22.251,22.378,19.967,22.378z'%3E%3C/path%3E%3Cg%3E%3Ccircle fill='%23C50084' cx='6.736' cy='15' r='6.5'%3E%3C/circle%3E%3C/g%3E%3C/g%3E%3Cpolygon fill='%23FFFFFF' points='11.207,14 7.707,14 7.707,10.5 5.707,10.5 5.707,14 2.207,14 2.207,16 5.707,16 5.707,19.5 7.707,19.5 7.707,16 11.207,16 '%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E") no-repeat  25px 25px;
        background-size: 30px;
        padding:1rem 1;

        h3.poce_title {
            padding:0 0 0 5rem
        }        
        .evidence-accordion .title {
            position: relative;
        }
    }
    ul {
        list-style: disc outside;
        padding: 10px 0px 7px 20px;
        text-indent: inherit;

        li {
            padding: 3px 5px;
        }
        ul {
            list-style: circle outside !important;
            margin: auto;
            padding: 0px 0px 0px 10px;

            ul {
                list-style: disc outside !important;
                padding: 10px 0px 7px 10px;
            }
        }
    }
    ul, ul ul li {
        padding: 0.3rem 0;
        margin: auto;
    }
    ul li, ul ul li {
        &:before {
            content: none;
        }
    }
    #rfs {
        .accordion-toggle {
            margin-left: 20px;
            text-indent: -15px;
            line-height: 1.25;

            h3 {
                line-height: 1.5;
            }
        }
    }
    #allrfs {
        .table {
            thead th {
                background-color: #bf007c;
                color: #fff;
                font-size: 1rem;
                font-weight: bold;
                padding-top: 8px;
                padding-bottom: 0;
                height: 36px;
                border-right: 1px solid #e1e1e1;
            }
            tbody {
                td, th {
                    font-size: inherit;

                    ul {
                        margin-bottom: 1rem !important;
                    }
                }
            } 
           
        }
    }
    .alt-table {
        border: solid 1px #e9e9e9;
        border-collapse: collapse;
        border-spacing: 0;
        font: normal 16px Arial,sans-serif;
        margin: 0 10% 0 10%;

        thead th {
            background-color: #f5f5f5;
            border: solid 1px #e9e9e9;
            color: #333;
            padding: 10px;
            text-align: left;
        }
        tbody td {
            border: solid 1px #e9e9e9;
            color: #333;
            padding: 10px;
        }
    }
    .toggle {
        display: none;
    }
    .option {
        position: relative;
    }
    .title {
        background-color: #f8f8f8;
        padding: 0 0 0 2.5rem;
        display: inline-block;

        backface-visibility: hidden;
        transform: translateZ(0);
        transition: all 0.2s;

        p {
            color: #000;
            font-size: 1rem;
            font-weight: normal;
            padding: 0;
        }
    }
    .content {
        max-height: 0;
        overflow: hidden;
        background-color: #f8f8f8;
        border-top: 1px solid #e4e4e4;

        backface-visibility: hidden;
        transform: translateZ(0);
        transition: all 0.2s;

        p {
            margin: 0;
            padding: 0.5em 2.5em 1em;
            line-height: 1.5;
        }
        ul {
            padding-left: 1.5rem;
        }
    }
    .toggle {
        &:checked {
            +.title {
                &:before {
                    transform: rotate(90deg) !important;
                }
                +.content {
                  max-height: 500px;
                   overflow: auto;
                   padding: 1rem;
                }
            }
        }

    }
    &.invest .rowHead {
        margin-bottom: 16px;
    }
    #kpoints .card .card-block p, #diagrecs .card .card-block p {
        margin-left: -7px;
    }
}
// EVIDENCE ACCORDION NOT IN POCE CONTENTS CLASS
.evidence-accordion {
    .title {
        display: inline-block;
        margin-left: -0.7rem;
        .material-icons {
            min-width: 24px;
            padding-top: 6px;
            span {
                display: none;
                &:first-child {
                    display: block;
                }
                &.title {
                    display: initial;
                    padding: 0;
                    color: #c50084;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
        }
    }
}
// ORIGINAL PRIMARY OPTIONS DRUG BOX STYLES, COMO ICON ON DROP DOWNS
.treatment-table {
    
    .title-04 {
        display: inline-block;
        margin-left: -0.7rem;

        .material-icons {
            min-width: 24px;
            padding-top: 6px;

            span {
                display: none;

                &:first-child {
                    display: block;
                }
            }
        }
    }
    .panel-content {
        display: none;
        padding: 0 1rem;
        margin: 0;
        float: right;
        clear: both;
    }
    // CHILDREN DROPDOWN 
    .panel-header {
        &.child-accordion {
            a {
                .title-01 {
                    span {
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    
                }
                
            }            
        } 
    }
   
    // ORIG STYLE PRIMARY OPTIONS / DRUG BOX
    .treatment-wrap {
        .treatment-box {
            background: #e5eef7;
            border: 1px solid #b0bec5;
            padding: 0.9rem;
            margin-bottom: 1rem;

            a:hover {
                text-decoration: underline;
                color: #bf007c;
            }
            .material-icons {
                color: #2a6ebb;
            }
            .small-or, .and-or {
                margin: 1rem 0;
            }
            .and-or {
                margin-left: -1rem;
                margin-right: -1rem;
                position: relative;
                left: 1px;
            }
            .reference {
                display: inline;

                .morePop {
                    padding-left: 1rem;
                }
            }
        }
    }
}
// STOP HOVER ON DROP DOWN ARROWS ON LIGHT BLUE DROP DOWNS ON TA PAGE
.blue-accordion {
    h3 {
        a{
            &:hover {
                &>span>span:first-child, &>span>span:first-child:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.poce_urgent {
    padding: 1rem !important;
    border: 1px dashed #c50084;
    
    h3 {
        color: #c50084;
    }
}
#poce_content {
    .treatment-table {
        .txtwrap {
            &::after {
                content: "\e90c";
                font-family: 'Material Icons';
                font-size: 30px;
                position: absolute;
                top: -3px;
                margin-left: 10px;
                color: #c50084;
            }
           &.no-icon {
                &::after {
                    content: " ";
               }
           } 
        }
    }
}
.invest {
    .card .card-block.poce_urgent {
        padding: 1rem !important;
        border: 1px dashed #c50084;
    }
    .rowDetails {
        .evidence-accordion {
            span {
                padding: 0.2rem 0px 50px 0.15rem;
            }
            .title .material-icons span {
                color: #c50084;
            }
        }
    }
}
.tmp .rowDetails .evidence-accordion .title {
    .material-icons span, .material-icons, .material-icons.open {
        fill: #C50084;    
    }
}

// ***********************************************
//             NO POINT SASSING
// ***********************************************
.panel-title .txtwrap .material-icons svg.co-morbidity-icon-pink, 
.panel-title .title-02 .material-icons svg.co-morbidity-icon-pink {
    height: 20px;
}
#topicNav.stickme #como-2 {
    position: fixed;
    top: 110px;
    width: 1116px;
    z-index: 1;
}
.histExam .rowDetails .evidence-accordion .title span {
    padding: 0.2rem 0px 50px 0.15rem;
}
.co-morbidity-icon-pink polygon {
    fill: #C50084;
}
.non-como-content.hide,
.browser-update-bar-hide, 
.hide, 
.panel-title .txtwrap.no-icon .material-icons svg.co-morbidity-icon-pink, 
.panel-title .title-02.no-icon .material-icons svg.co-morbidity-icon-pink {
    display: none;
}
.material-icons svg.co-morbidity-icon-pink {
    height: 30px;
}
.diffDiagnosis>.card>.card-block, 
.diffDiagnosis2>.card>.card-block, 
.histExam>.card>.card-block, 
.diagGuidelines>.card>.card-block, 
.complications>.card>.card-block, 
.invest>.card>.card-block, 
.htmlTable>.card>.card-block, 
.details>.card>.card-block, 
.treatment-table>.card>.card-block, 
#differ>.card>.card-block {
    padding: 0;
}
#topicMenuTopWrap #como-2 .co-morbidity-icon-pink polygon,
.modal-title .co-morbidity-icon-pink polygon, 
.txtwrap .co-morbidity-icon-pink polygon, 
.title-02 .co-morbidity-icon-pink polygon {
    fill: #fff;
}
div[class*='-como-content'] {
    margin: 1rem 0;
}
#poce-contents div[class*='-como-content'] {
    padding: 1rem !important;
    border: 1px dashed #c50084;
    background-color: #f8e0f0;
    margin: 1rem 0;
}

@media (max-width:768px) {
    .panel-title .txtwrap .material-icons {
        position: absolute;
        float: right;
        top: -4px;
        right: -29px;
    }
    .treatment-table {
        .panel-content {
            padding-left: 1.5rem !important;
        }
        .title-02 {
            float: none;
            max-width: 100%;
        }
        .title-04 {
            margin-left: 0.5rem;
            max-width: 88%;

            .material-icons {
                margin-left: -4px;
                padding-top: 0;                
            }
        }
    }
    .evidence-accordion .title .material-icons {
        margin-left: -4px;
        padding-top: 0;
    }
    .poce_contents .evidence-accordion .title {
        padding: 0 0 0 1.5rem;

        .material-icons {
            padding-top: 0;
        }
    }
}
@media (max-width:991px) {
    .treatment-table {
        .panel-heading h3 .txtwrap {
            max-width: 470px;
            display: inline-block;
        }
        .panel-content.child-accordion {
            .panel-content {
                float: left;
                left: 2.7rem;
            }
            .panel-header .title-02 {
                left: 2rem;
            }
        }
    } 
    .evidence-accordion .title .material-icons {
        float: left;
        width: 32px;
        height: 24px;
        cursor: pointer;
        padding-top: 8px;
    }
    #comoselected-1 button.btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    #topicNav.stickme #como-2 {
        position: relative;
    }
}
@media (max-width:1023px) {
    .blue-accordion {
        .panel-heading {
            padding: 0;

            .panel-title {
                float: initial;
            }
            h3 a {
                float: left;
                width: auto;

                &:hover>span>span:first-child:hover, &:hover>span>span:first-child {
                    text-decoration: none;
                }
                &.view-hide-all {
                    float: right;
                    width: auto;
                }
                .title-04 {
                    top: 0;
                }
            }
        }
        .panel-body {
            float: initial;
        }
    }
    .treatment-table {
        .blue-accordion {
            padding: 0;

            .panel-heading .txtwrap {
                padding: 0;
                display: inline;
            }
        }
        .panel-content {
            &.child-accordion {
                float: initial;

                section .panel-header .panel-title .title-03 {
                    display: inline-block;
                    min-width: 95px;
                }
            }
        }
        .panel-header.child-accordion {
            .title-01 span {
                padding-left: 3rem;
                font-size: 1rem;
    
                &:before {
                    left: -65px;
                    width: 19px;
                }
            }
            .title-04 {
                position: relative;

                .material-icons {
                    position: absolute;
                    left: 49px;
                    top: 16px;
                    padding-top: 3px;
                }
            }
        }
    }
}
@media (max-width:1199px) {
    #topicNav #topicMenuTopBg, #topicNav #menuLinks, #topicNav #menus, #topicNav #como-2 {
        width: 936px !important;
    }
}
@media (min-width:1024px) {
    .treatment-table {
        .title-04 {
            max-width: 900px;
            width: auto;
            position: relative;
            top: 7px;

            .material-icons {
                float: left;
                clear: right;
                width: 24px;
                height: 24px;
                margin-bottom: -24px;
            }
        }
        .txtwrap {
            width: 100% !important;
            padding-left: 32px;
            cursor: pointer;
        }
        .panel-content.child-accordion {
            float: initial
        }
        .blue-accordion {
            padding: 0;

            .panel-heading .txtwrap {
                padding: 4px 0 0 32px;
            }
        }
        .panel-content.child-accordion section .panel-header .panel-title .title-03 {
            display: inline-block;
            min-width: 95px;
        }
        .panel-header.child-accordion {
            .title-01 span {
                padding-left: 3rem;
                font-size: 1rem;
    
                &:before {
                    left: -42px;
                    width: 19px;
                }
            }
            .title-04 .material-icons {
                position: absolute;
                left: 49px;
                top: 16px;
                padding-top: 3px;
            }
        }
    }
    .evidence-accordion {
        .title {
            .material-icons {
                float: left;
                width: 32px;
                height: 24px;
                cursor: pointer;
                padding-top: 8px;
            }
            span.title {
                display: inline-block;
                cursor: pointer;
            }
        }
    }
    .blue-accordion {
        .panel-heading {
            padding: 0;

            .panel-title {
                float: initial;
            }
            h3 a {
                float: left;
                width: auto;

                &.view-hide-all {
                    float: right;
                    width: auto;
                }
                .title-04 {
                    top: 0;
                }
                span.msg {
                    font-size: 0.875rem;
                }
            }
        }
        .panel-body {
            float: initial;
        }
    }
}