@media (max-width: 768px) {
    .panel-title .txtwrap .material-icons {
        position: absolute;
        float: right;
        top: -4px;
        right:-29px;
    }
    .treatment-table .title-02 {
        float: none;
        max-width: 100%
    }
    .treatment-table .title-04 {
        margin-left: 0.5rem;
        max-width: 88%;
    }
    .treatment-table .title-04 .material-icons,
    .evidence-accordion .title .material-icons {
        margin-left: -4px;
        padding-top: 0
    }
    .poce_contents .evidence-accordion .title .material-icons {
        padding-top:0
    }
    .poce_contents .evidence-accordion .title {
        padding:0 0 0 1.5rem
    }
    .treatment-table .panel-content {
        padding-left: 1.5rem !important
    }    
}
@media (max-width: 991px) {
.treatment-table .panel-heading h3 .txtwrap {
        max-width: 470px;
        display: inline-block;
    }
    .treatment-table .panel-content.child-accordion .panel-content {
        float:left;
        left: 2.7rem;
    }
    .treatment-table .panel-content.child-accordion .panel-header .title-02 {
        left:2rem
    }
    .evidence-accordion .title .material-icons {
        float: left;
        width: 32px;
        height: 24px;
        cursor: pointer;
        padding-top:8px
    }
    #comoselected-1 button.btn{
        position: absolute;
        top:0;
        right:0;
    }
    #topicNav.stickme #como-2 {
        position: relative
    }    
}
@media (max-width: 1023px) {
/* BLUE H3 PANEL HEADING ACCORDION TITLE & CONTENT */
    .blue-accordion h3 a:hover>span>span:first-child:hover,
    .blue-accordion h3 a:hover>span>span:first-child {
        text-decoration: none
    }
    .blue-accordion .panel-heading {
        padding: 0;    
    }
    .blue-accordion .panel-heading .panel-title,
    .blue-accordion .panel-body {
        float:initial;
    }
    .blue-accordion .panel-heading h3 a {
        float: left;
        width: auto
    }
    .blue-accordion .panel-heading h3 a.view-hide-all {
        float: right;
        width: auto;
    }
    .blue-accordion .panel-heading h3 a .title-04 {
        top:0
    }
    .treatment-table .blue-accordion {
        padding:0;
    }
    .treatment-table .blue-accordion .panel-heading .txtwrap {
        padding:0;
        display: inline
    }
/* CHILD ACCORDION TITLE & CONTENT */
    .treatment-table .panel-content.child-accordion {
        float:initial
    } 
    .treatment-table .panel-content.child-accordion section .panel-header .panel-title .title-03 {
        display: inline-block;
        min-width: 95px
    }
    .treatment-table .panel-header.child-accordion .title-01 span {
        padding-left: 3rem;
        font-size: 1rem
    }
    .treatment-table .panel-header.child-accordion .title-01 span:before {
        left:-65px;
        width: 19px
    }
    .treatment-table .panel-header.child-accordion .title-04 {
        position: relative;
    }
    .treatment-table .panel-header.child-accordion .title-04 .material-icons {
        position: absolute;
        left: 49px;
        top: 16px;
        padding-top: 3px
    }
}
@media (max-width: 1199px) {
    #topicNav #topicMenuTopBg,
    #topicNav #menuLinks,
    #topicNav #menus,
    #topicNav #como-2 {
        width: 936px !important
    }
}
@media (min-width: 1024px) {   
    .treatment-table .title-04 {
        max-width: 900px
    }
    .treatment-table .title-04 {
        width: auto;
        position: relative;
        top: 7px
    }
    .treatment-table .title-04 .material-icons {
        float: left;
        clear: right;
        width: 24px;
        height: 24px;
        margin-bottom: -24px
    }
    .evidence-accordion .title .material-icons {
        float: left;
        width: 32px;
        height: 24px;
        cursor: pointer;
        padding-top:8px
    }
    .treatment-table .txtwrap {
        /* display: block;
        float: right; */
        width: 100% !important;
        padding-left: 32px;
        cursor: pointer
    }    
    .evidence-accordion .title span.title {
        display: inline-block;
        cursor: pointer
    }

    .blue-accordion .panel-heading {
        padding: 0;    
    }
    .blue-accordion .panel-heading .panel-title,
    .blue-accordion .panel-body {
        float:initial;
    }
    .blue-accordion .panel-heading h3 a {
        float: left;
        width: auto
    }
    .blue-accordion .panel-heading h3 a.view-hide-all {
        float: right;
        width: auto;
    }
    .blue-accordion .panel-heading h3 a .title-04 {
        top:0
    }
    .blue-accordion .panel-heading h3 a span.msg{
        font-size: 0.875rem;
    }
    .treatment-table .blue-accordion {
        padding:0;
    }
    .treatment-table .blue-accordion .panel-heading .txtwrap{
        padding:4px 0 0 32px
    }
/* CHILD ACCORDION TITLE & CONTENT */
    .treatment-table .panel-content.child-accordion {
        float:initial
    } 
    .treatment-table .panel-content.child-accordion section .panel-header .panel-title .title-03 {
        display: inline-block;
        min-width: 95px
    }
    .treatment-table .panel-header.child-accordion .title-01 span {
        padding-left: 3rem;
        font-size: 1rem
    }
    .treatment-table .panel-header.child-accordion .title-01 span:before {
        left:-42px;
        width: 19px
    }
    .treatment-table .panel-header.child-accordion .title-04 .material-icons {
        position: absolute;
        left: 49px;
        top: 16px;
        padding-top: 3px
    }
/* CHILD ACCORDION TITLE & CONTENT ENDS */
}
.modal-registration-form {
    #editComo {
        .modal-body {
            padding: 1.25rem 1.5rem;

            ul li label.custom-checkbox {
                margin-bottom: 0;
            }
            .list-group-flush {
                &:first-child .list-group-item:last-child {
                    margin:0;
                }
                .list-group-item {
                    margin:0.1rem 0;
                }
            }
            
        }
    }
}
#editComo {
    /* WARNING POPUP ON COMO POPUP FOR ASTHMA & COPD */
    .warning-asthma  {
        border: 2px solid #c50084;
        padding: 1rem;
        border-radius: 4px;
        position: absolute;
        background: #fff;
        width: 300px;
        z-index: 5;
        left:-300px;
        top:-19px;
        box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        background: #fff;
        border: 2px solid #c50084;

        &:after, &:before {
            left: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fff;
            border-width: 10px;
            margin-top: -10px;
        }
        &:before {
            border-color: rgba(197, 0, 132, 0);
            border-left-color: #c50084;
            border-width: 13px;
            margin-top: -13px;
        }
        button.close {
            top: 2px;
            right: 5px;
            position: absolute;
        }
    }
    button {
        &.btn {
            background-color: rgba(0, 0, 0, 0.12);
            box-shadow: none;
            color: rgba(0, 0, 0, 0.26);
            cursor: not-allowed;
            opacity: 1;
            pointer-events: none;

            &.btn-secondary {
                background-color: #a30054 !important;
                color: #fff !important;
                cursor: pointer;
                opacity: 1;
                pointer-events: all;

                &.ticked {
                    display: none;
                        &.show {
                            display: block;
                        }
                    }
            }
        }
        
   }
    .modal-dialog button.close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .modal-body .disable-checkbox {
        background:#ddd;
    }
}
.poce_drug_msg {
    border: 1px dashed #c50084;
    display: table-cell;
    margin-bottom: 1rem;
    padding: 2rem;
    .poce_title {
        padding-left: 3rem;
        color: #c50084;
        font-size: 1.125rem;
        margin: 0 0 1rem -3rem;
        display: inline-block;
    }
    h3{
        padding:0;
        text-indent: 0;
        float: none!important;
    }
    p {
        text-indent: initial;
    }
    .material-icons {
        vertical-align: top;    
        top: -5px;
        position: relative;
        svg {
            top:0;
            left:-6px;
            position: relative;
        }
    }
}
#como-1 {
    
    height: auto;
    .material-icons {
        font-size:30px;
    }
    svg.co-morbidity-icon-pink {
        top: 3px;
        position: relative;
    }
    .add-como-icon-and-text {
        display: inline-block;
    }
    #comoselected-1 {
        display: inline-block;
        button.show,
        span {
            display: inline-block;
            position: relative;
            top:9px;
        }
        button.hide, 
        button {
            display: none
        }
        /* ADDS COMMAS AFTER EACH COMOBILITY IS SELECTED FROM MODAL */
        span + span:before {
            content:', '
        }
    }   
    .card-block b {
        vertical-align: -webkit-baseline-middle;
        vertical-align: sub;
    }
    .card {
        border-radius: 0;
        padding: 1.125rem 1.5rem;
    
        p {
            display: inline-block;
            font-weight: bold;
            span {
                color: #c50084
            }
        }
        button {
            float: right;
            background-color: #fff;
            color: #c50084;
            border: 3px solid #c50084;
            border-radius: 4px;

            &:hover:{
                background-color: #c50084;
                color: #fff;
                outline: none
            }
            &:focus:{
                background-color: #c50084;
                color: #fff;
                outline: none
            }
            &:hover, &:focus {
                background-color: #c50084;
                color: #fff;
                outline: none
            }
        }
    }
}
#como-2 {
    height: auto;
    border-bottom: 3px solid #c50084;
    
    &.card {
        border-radius: 0;
        padding: 1.125rem 1.5rem;
        p {
            display: inline-block;
            font-weight: bold;
            span {
                color: #c50084
            }
        }
        button {
            float: right;
            background-color: #fff;
            color: #c50084;
            border: 3px solid #c50084;
            border-radius: 4px;
            &:hover,
            &:focus {
                background-color: #c50084;
                color: #fff;
                outline: none
            }
        }
    }
    .material-icons {
        font-size: 50px
    }
    #comoselected-2 span {
        position: relative;
        top:9px;
    }
}
/* TIPS AND PITFALL BOX */
#tip_pitfall {
    background-color: #e5eef7;
    border: 1px solid #e9e9e9;
    color: #333;
    width: 90%;
    padding: 1rem;

    .card-title {
        font-family: Arial, sans-serif;
        font-size: 1rem;
        font-weight: bold;
        display:contents;
    }
    .card-block {
        padding: 1rem 1em 1rem 2rem!important;
        background: url('../images/pin.svg') no-repeat 5px 15px;
        background-size: 15px;

        p+ul {
            padding-left: 1rem !important;
            margin-bottom: 0 !important
        }
        .card-text {
            padding:1rem 0 0 0rem;
        }
        svg#pin {
            height: 30px;
            position: relative;
            left: -5px;
            float: left;
        }
    } 
    li {
        padding: 2px 5px;
        margin: 0;
    }
}
/* LOOK OUT POP UP */
#lookOutPopUp {
    background-color: #FFCFEF;
    padding:1rem;

    /* SHOW/HIDE ADD ADDED COPY ON COMORBIDITIES EDIT BAR */
    &.checked {
        width: 100%;
        display: inline-block;
    }
    &.unchecked {
        display: none;
    }
    .co-morbidity-icon-pink polygon {
        fill: #fff;
    }
    p {
        font-weight: bold
    }
    .got-it {
        margin-bottom: 0.75rem;
        text-align: center
    }
}

.treatment-table .panel-content {
    display: none;
    padding: 0 1rem;
    margin: 0;
    float: right;
    clear: both
}
/* POCE:: Treatment Algorithm */
.poce_contents.treatment-algorithm .card-block {
    padding: 0 !important;
}
.poce_contents.treatment-algorithm .treatment-wrap {   
}
.poce_contents.treatment-algorithm .treatment-box-cplus {
    border: 1px solid #c50084;
    background: none;
    padding: 1rem  2rem;
    margin-bottom: 1rem;
}
.poce_contents.treatment-algorithm .treatment-box-cplus p.como_link a {
    color: #c50084;
    text-decoration: none;
}
.poce_contents.treatment-algorithm .treatment-box-cplus p.como_link a:hover {
    text-decoration: underline;
}
#tmp .treatment-box-cplus .poce_drug_msg h3.cplus_title {
    color:#333;
    display: inline;
    float: left;
    width: auto;
}
.treatment-box-cplus .poce_drug_msg .material-icons {
    display: inline;
    float:left;
    text-indent: -30px
}
.treatment-box-cplus .poce_drug_msg .material-icons svg.co-morbidity-icon-pink {
    height:40px
}

/* DRUG ACCORDION BOX STYLES */
#tmp .treatment-box-cplus h4{
    color: #c50084;
    font-weight: bold
}
#tmp .treatment-box-cplus .drug-accordion {
    margin:1rem 0;
}
#tmp .treatment-box-cplus .drug-accordion .drug-content2 .poce_drug_msg,
#tmp .treatment-box-cplus .drug-accordion .drug-content1 .poce_drug_msg {
    text-indent: 0;
    padding:1rem;
    width: 100%
}
#tmp .treatment-box-cplus .drug-accordion .drug-content2 .poce_drug_msg .material-icons,
#tmp .treatment-box-cplus .drug-accordion .drug-content1 .poce_drug_msg .material-icons {
    text-indent: -10px;
    top: 0;
    padding:0 0.5rem 0 0
}
.diffDiagnosis>.card>.card-block, .diffDiagnosis2>.card>.card-block, .histExam>.card>.card-block, .diagGuidelines>.card>.card-block, .complications>.card>.card-block, .invest>.card>.card-block, .htmlTable>.card>.card-block, .details>.card>.card-block, .treatment-table>.card>.card-block, #differ>.card>.card-block{
    padding:0
}
#tmp .treatment-box-cplus .drug-accordion .drug-content2 .poce_drug_msg .material-icons svg,
#tmp .treatment-box-cplus .drug-accordion .drug-content1 .poce_drug_msg .material-icons svg {
    top:0;
    left:0
}
#tmp .treatment-box-cplus .drug-accordion .drug-content1 .treatment-box,
#tmp .treatment-box-cplus .drug-accordion .drug-content2 .treatment-box {
    background-color: #fff;
    padding: 0.9rem 0;
    margin: 1rem 0;
    border: none;
}
#tmp .treatment-box-cplus .drug-accordion .drug-content1 .treatment-box .small-or {
    color: #333;
    margin:0;
}
#tmp .treatment-box-cplus .drug-accordion .drug-content2 .poce_drug_msg {
    background-color: #f8e0f0;
}
#tmp .treatment-box-cplus .drug-accordion .drug-content2 .poce_drug_msg h3.cplus_title{
    font-size: 1.3rem;
    position: relative;
    top: 10px;
    font-weight: normal;
}
.treatment-box-cplus .drug-content1 .treatment-box .modal .modal-dialog {
	max-width: 50rem;
}
.treatment-box-cplus .drug-content1 .treatment-box .modal .modal-dialog .modal-content .modal-header {
	background: #fff; 
	margin-top: 1rem
}
.treatment-box-cplus .drug-content1 .treatment-box .modal .modal-dialog .modal-content .modal-header .modal-title {
	color:#c50084;
	margin: 0 0 1.5rem 0;
	text-align: center;
}
#comoselected-1 button.btn {
    margin:0 0 0 1rem;
}
#topicMenuTopWrap #como-2 .co-morbidity-icon-pink polygon {
    fill: #fff;
}
#topicNav.stickme #como-2 {
    position: fixed;
    top: 110px;
    width: 1116px;
    z-index: 1
}
/* IF NO COMOS ARE CHECKED ICON CHANGES TO PINK BG */
.add-como-icon-and-text {
    background-color: #c50084;
    color: #fff;
    padding: 1px 5px 6px;
    border-radius: 5px;
    float: left;
}

/* SHOW/HIDE ADD ADDED COPY ON COMORBIDITIES EDIT BAR */
.add-como-icon-and-text .add.unchecked,
.add-como-icon-and-text .added.unchecked,
.non-como-content.hide {
    display: none;
}
.add-como-icon-and-text .add.checked,
.add-como-icon-and-text .added.checked {
    display: inline-block;
}
.add-como-icon-and-text .add:hover{
    text-decoration: underline;
    cursor: pointer;
}
.add-como-icon-and-text path, .add-como-icon-and-text g g g circle {
    fill: #fff;
}
.co-morbidity-icon-pink polygon {
    fill: #C50084;
}
.modal-title .co-morbidity-icon-pink polygon, 
.poce_drug_msg .co-morbidity-icon-pink polygon,
.txtwrap .co-morbidity-icon-pink polygon,
.title-02 .co-morbidity-icon-pink polygon{
    fill: #fff;
}

/* IF COMOS ARE CHECKED THE ICON NEXT TO EDIT BUTTON IS PINK WHITE BG */
.add-como-icon-and-text.checked {
    background-color: #fff;
    color: #000;
}
.add-como-icon-and-text.checked path, .add-como-icon-and-text.checked g g g circle {
    fill: #c50084;
}
.add-como-icon-and-text.checked .co-morbidity-icon-pink polygon {
    fill: #fff;
}
/* ENDS */

.poce_drug_msg .material-icons svg.co-morbidity-icon-pink, 
.material-icons svg.co-morbidity-icon-pink {
    height:30px;
}
.modal-dialog svg.co-morbidity-icon-pink {
    height:40px
}
#poce-contents div[class*='-como-content'] {
    padding: 1rem !important;
    border: 1px dashed #c50084;
    background-color: #f8e0f0;
    margin: 1rem 0;
}
#poce-contents div[class*='-como-content'] .poce_drug_msg .evidence-accordion .title {
    position: relative
}
div[class*='-como-content'] {
    margin: 1rem 0;
}
#poce_content .treatment-table .txtwrap::after {
    content: "\e90c";
    font-family: 'Material Icons';
    font-size: 30px;
    position: absolute;
    top: -3px;
    margin-left: 10px;
    color: #c50084;
}

#poce_content .treatment-table .txtwrap.no-icon::after {
    content: " ";
}
.poce_contents ul,
.poce_contents ul ul li {
    padding: 0.3rem 0;
    margin: auto;
}
.poce_contents ul li:before,
.poce_contents ul ul li:before {
    content: none
}
.poce_contents ul li {
    padding:3px 5px
}
.poce_contents ul {
    list-style: disc outside;
    padding: 10px 0px 7px 20px;
    text-indent: inherit;
}
.poce_contents ul ul{
    list-style: circle outside!important;
    margin:auto;
    padding:0px 0px 0px 10px
}
.poce_contents ul ul ul {
    list-style: disc outside!important;
    padding: 10px 0px 7px 10px
}
.poce_contents #rfs .accordion-toggle {
    margin-left: 20px;
    text-indent: -15px;
    line-height: 1.25
}
.poce_contents #rfs .accordion-toggle h3 {
    line-height: 1.5
}
.poce_contents #allrfs .table thead th {
    background-color: #bf007c;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 0;
    height: 36px
}
.poce_contents #allrfs .table tbody td,
.poce_contents #allrfs .table tbody th {
    font-size: inherit
}
.poce_contents #allrfs .table tbody td ul,
.poce_contents #allrfs .table tbody th ul {
    margin-bottom: 1rem !important
}
.poce_contents #allrfs .table th {
    border-right: 1px solid #e1e1e1
}
.poce_contents .alt-table {
    border: solid 1px #e9e9e9;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 16px Arial, sans-serif;
    margin: 0 10% 0 10%
}
.poce_contents .alt-table thead th {
    background-color: #f5f5f5;
    border: solid 1px #e9e9e9;
    color: #333;
    padding: 10px;
    text-align: left
}
.poce_contents .alt-table tbody td {
    border: solid 1px #e9e9e9;
    color: #333;
    padding: 10px
}
.poce_contents .evidence-accordion {
    width:90%;
    background-color: #f8f8f8;
    border: 1px solid #e9e9e9;
    padding: 1rem 0 0 0;
    margin: 2rem 0;
}
.poce_contents .toggle {
    display: none
}
.poce_contents .option {
    position: relative;
}

.poce_contents .title,
.poce_contents .content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.2s
}
.poce_contents .title {
    background-color: #f8f8f8;
    padding: 0 0 0 2.5rem;
    display: inline-block;
}
.poce_contents .evidence-accordion .content p {
    padding:0
}
.poce_contents .evidence-accordion .title {
    padding: 0 0.5rem 1rem;
    margin: 0;
    display: block;
    background-color: transparent;
}
.poce_contents .title p {
    color: #000;
    font-size: 1rem;
    font-weight: normal;
    padding: 0
}
.poce_contents .evidence-accordion .title p{
    display: inline-block;
    padding: 0 0 0 1rem;
    margin: 0
}
.poce_contents .evidence-accordion .title span.title,
.evidence-accordion .title span.title {
    display: initial;
    padding:0;
    color: #c50084;
    font-weight: bold;
    font-size: 1rem;
}
.poce_contents .content {
    max-height: 0;
    overflow: hidden;
    background-color: #f8f8f8;
    border-top: 1px solid #e4e4e4
}

.poce_contents .content p {
    margin: 0;
    padding: 0.5em 2.5em 1em;
    line-height: 1.5
}

.poce_contents .content ul {
    padding-left: 1.5rem
}

.poce_contents .toggle:checked+.title+.content {
    max-height: 500px;    
    overflow: auto;
    padding:1rem
}

.poce_contents .toggle:checked+.title:before {
    transform: rotate(90deg) !important
}


/* BLUE H3 PANEL HEADING ACCORDION TITLE & CONTENT */
.blue-accordion h3 a:hover>span>span:first-child:hover,
.blue-accordion h3 a:hover>span>span:first-child {
    text-decoration: none
}
/* Diagnosis - Investigations - CHANGE IN SASS FILE*/
.poce_contents.invest .rowHead {
    margin-bottom: 16px;
}
.poce_urgent,
.invest .card .card-block.poce_urgent {
    padding: 1rem !important;
    border: 1px dashed #c50084;
}
.poce_urgent h3 {
    color: #c50084;
}
/* Diag Recommendations - alignment fix */
.poce_contents #kpoints .card .card-block p,
.poce_contents #diagrecs .card .card-block p {
    margin-left: -7px;
}
#comoselected-1,
#comoselected-2 {
    font-weight: bold;
    color: #c50084;
    margin: 0 1rem
}
#comoselected-1 ul,
#comoselected-2 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center
}

#comoselected-1 ul li,
#comoselected-2 ul li {
    display: inline
}
#comoselected-1 ul li a,
#comoselected-2 ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #036
}
#comoselected-1 ul li a:hover,
#comoselected-2 ul li a:hover {
    color: #fff;
    background-color: #369
}


.browser-update-bar-hide, 
.hide, 


.treatment-table .title-04,
.evidence-accordion .title {
    display: inline-block;
    margin-left: -0.7rem
}
.treatment-table .title-04 .material-icons,
.evidence-accordion .title .material-icons {
    min-width: 24px;
    padding-top: 6px
}
.histExam .rowDetails .evidence-accordion .title span,
.invest .rowDetails .evidence-accordion span {
    padding: 0.2rem 0px 50px 0.15rem;
}
.evidence-accordion .title .material-icons span:first-child,
.treatment-table .title-04 .material-icons span:first-child {
    display: block
}
.evidence-accordion .title .material-icons span,
.treatment-table .title-04 .material-icons span,
.evidence-accordion .title .material-icons span {
    display: none
}
.invest .rowDetails .evidence-accordion .title .material-icons span,
.tmp .rowDetails .evidence-accordion .title .material-icons span,
.tmp .rowDetails .evidence-accordion .title .material-icons,
.tmp .rowDetails .evidence-accordion .title .material-icons.open {
    color: #c50084
} 
.panel-title .txtwrap.no-icon .material-icons svg.co-morbidity-icon-pink,
.panel-title .title-02.no-icon .material-icons svg.co-morbidity-icon-pink {
    display:none
}
.panel-title .txtwrap .material-icons svg.co-morbidity-icon-pink,
.panel-title .title-02 .material-icons svg.co-morbidity-icon-pink {
    height: 20px;
}
.treatment-table .treatment-wrap .treatment-box {
    background: #e5eef7;
    border: 1px solid #b0bec5;
    padding: 0.9rem;
    margin-bottom: 1rem
}

.treatment-table .treatment-wrap .treatment-box .small-or,
.treatment-table .treatment-wrap .treatment-box .and-or {
    margin: 1rem 0
}
.treatment-table .treatment-wrap .treatment-box .and-or {
    margin-left: -1rem;
    margin-right: -1rem;
    position: relative;
    left: 1px
}
.treatment-table .treatment-wrap .treatment-box .reference {
    display: inline
}

.treatment-table .treatment-wrap .treatment-box .reference .morePop {
    padding-left: 1rem
}
.treatment-box a:hover {
    text-decoration: underline;
    color: #bf007c
}
.treatment-box .material-icons {
    color: #2a6ebb
}